#root {
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  align-content: center;
  justify-content: center;
}

.app {
  margin: auto;
  width: 600px;
  line-height: 32px;
}

.pop-container {
  z-index: 1;
  top: 0;
  left: 0;
  color: white;
  position: fixed;
  display: inline-flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-blend-mode: exclusion;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); 
  background: rgba(0, 0, 0, 0.397);

  animation: fadeInAnimation 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.pop-gallery {
  display: inline-flex;
  justify-content: center;
  align-content: center; 
  margin: auto;
  min-height: 256px;
  height: 60%;
}

.pop-user-form {
  margin: auto;
  height: 40%;
  width: 80%;
}


:is(.pop-user-form) input[type=password], input[type=email] {
  width: 300px;
}

.pop-cancel {
  cursor: pointer;
  position: fixed;
  margin-right: 900px;
  margin-bottom: 200px;
  transition: all .2s ease-in-out;
}

.pop-cancel:hover {
  transform: scale(1.05);
}

.gallery {
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.205);
}

:is(nav, footer) {
  display: flex;
  align-content: center;
  justify-content: center;
}

:is(nav, footer) a {
  text-decoration: none;
  padding-inline: 25px;
  color: rgba(65, 65, 65, 0.25);
  transition: all 0.3s ease-in-out;
}

:is(nav, footer) a:hover {
  color: rgba(65, 65, 65, 0.8);
}

.active {
  color: black;
  transition: all .3s ease-in-out;
}

input {
  font-weight: 200;
  border: solid 1px rgba(65, 65, 65, 0.25);
  color: rgb(65, 65, 65);
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 12px;
  transition: all .3s ease-in-out;
}

input[type=text] {
  min-width: 300px;
}

input[type=number] {
  width: 75px;
}

input:focus {
  outline: none;
  border: solid 1px rgba(65, 65, 65, 0.5);
}

input[type=number]:out-of-range {
  border-color: rgba(255, 0, 0, 0.5);
}

.logo {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

.logo img {
  margin: auto;
  height: 150px;
}

.search {
  margin: auto;
  align-content: center;
  justify-content: center;
}

.result {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  min-height: 160px;
  width: 600px;
  justify-content: center;
  align-content: center;
}

.result img {
  margin-top: -40px;
  height: 140px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.result p {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.result div {
  height: 132px;
  width: 132px;
  display: inline-flex;
  padding: 25px;
}

.result .dall-e-img {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.205);
  
  transition: all .2s ease-in-out;
}

.result .dall-e-img:hover {
  z-index: 1;
  transform: scale(1.5);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.205);
}

.FAQ h2 {
  padding-bottom: 10px;
}

.FAQ-content {
  display: block;
  text-align: left;
}

.FAQ-content p {
  color: rgb(85, 85, 85);
}

.FAQ-content a {
  color: black;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}