[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
openai = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
